  <div class="main-container">
    <h1 class="centered-heading">CashMaster App</h1>
  </div>
  <div class="footer-container">
    <a href="<%= new_user_session_path %>" class="custom-btn">LOG IN</a>
    <a href="<%= new_user_registration_path %>" class="custom-btn secondary">SIGN UP</a>
  </div>